<% provide(:title, "Home") %>
  <p>
  「本屋体験」ができる東京の書店を紹介します。
  </p>
  <h2><%= link_to "店舗一覧から探す", bookshops_url, class: "btn btn-lg btn-primary" %></h2>

<h2>新着口コミ</h2>
<div class="container">
        <% @comments.reverse_each do |comment| %>
          <div class="posts">
            <div class="row">
                 <div class="col-md-2">
                   <div class="thumbnail">
                     <%= image_tag comment.bookshop.image_data if comment.bookshop.image_data? %>
                   </div>
                  </div>
              <div class="col-md-10">
                <%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %>の投稿
                <%= time_ago_in_words(comment.created_at) %> 前</br>
                <h3><%= comment.body %></h3>
                <%= link_to "『#{comment.bookshop.name}』を見てみる", bookshop_path(comment.bookshop.id) %><br />
              </div>
            </div>
          </div>
        <% end %>
</div>