<% provide(:title, @bookshop.name) %>
<h1><%= @bookshop.name %></h1>
<div class="container">
  <div class="row">
      <%= image_tag @bookshop.image_data %>
      <h2>書店情報</h2>
        <%= @bookshop.description %><br />
        <%= @bookshop.area %><br />
        <%= @bookshop.address %><br />
        <%= @bookshop.phone %><br />
        <%= @bookshop.station %><br />
        <%= @bookshop.url %><br />
        <%= @bookshop.twitter_url %><br />
        <%= @bookshop.business_hour %><br />
        <%= @bookshop.holiday %><br />
        <%= @bookshop.access %><br />

     <div class="map_wrapper">
      <div class="google-maps">
        <iframe src= <%= @bookshop.google_map_url %>width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br />
      </div>
     </div>
  </div>
</div>

<div class="bookshop_wrapper">
<div class="container">
 <h2><%= @bookshop.name %>へのコメント</h2>
   <% @comments.each do |comment| %>
    <div class="bookshop-show-posts">
      <h4><%= comment.body %></h4>
      投稿者:
      <%= link_to comment.user.name, user_path(comment.user.id) %>
      <%= time_ago_in_words(comment.created_at) %> 前
      <% if comment.user == current_user %>
       <%= link_to "削除する", comment, method: :delete,data: { confirm: "You sure?" } %>
      <% end %>
    </div>
   <% end %>
</div>
</div>

   <%= render 'comments/new' %><br />
  <p><%= link_to '書店情報を編集する', edit_bookshop_url(@bookshop) %></p>




